<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <!-- for create section -->
        <section id="bannersection" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bannerslider</label>
            <!-- Assign section to tab -->
            <tab>cpanel</tab>
            <resource>Solwin_Bannerslider::configuration</resource>
            <!-- create group for fields in section -->
            <group id="bannergroup" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <!-- create text type field -->
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Bannerslider </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable Bannerslider module on frontend.</comment>
                </field>
                <field id="animation" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slider Animation</label>
                    <source_model>Solwin\Bannerslider\Model\System\Config\Source\Animation</source_model>
                    <comment>Controls the animation type, "fade" or "slide".</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="controlnav" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Control</label>
                    <source_model>Solwin\Bannerslider\Model\System\Config\Source\Controlnav</source_model>
                    <comment>Create navigation for paging control of each slide.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="slideshowSpeed" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Slideshow Speed</label>
                    <comment>Set the speed of the slideshow cycling, in milliseconds</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="direction" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Direction</label>
                    <source_model>Solwin\Bannerslider\Model\System\Config\Source\Direction</source_model>
                    <comment>Controls the animation direction, "horizontal" or "vertical"</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="animationLoop" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Animation Loop</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Gives the slider a seamless infinite loop.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="smoothHeight" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Smooth Height</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Animate the height of the slider smoothly for slides of varying height.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="startAt" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set Initial Slide</label>
                    <comment>Starting slide for the slider, in array notation.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="slideshow" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Slideshow</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Setup a slideshow for the slider to animate automatically.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="animationSpeed" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Animation Speed</label>
                    <comment>Set the speed of animations, in milliseconds</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="initDelay" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Initial Delay</label>
                    <comment>Set an initialization delay, in milliseconds</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="pauseOnHover" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pause On Hover</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Pause the slideshow when hovering over slider, then resume when no longer hovering.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="touch" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Touch Swipe Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow touch swipe navigation of the slider on enabled devices.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="directionNav" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Direction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Create previous/next arrow navigation.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="keyboard" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Keyboard Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allow slider navigating via keyboard left/right keys.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="mousewheel" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Mousewheel Navigation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows slider navigating via mousewheel</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="prevText" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Previous Direction Text</label>
                    <comment><![CDATA[Set the text for the "previous" directionNav item]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="nextText" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Next Direction Text</label>
                    <comment><![CDATA[Set the text for the "next" directionNav item]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>