<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
<!--        <add id="Solwin_Megamenu::megamenu" title="Mega Menu" module="Solwin_Megamenu" sortOrder="40" resource="Solwin_Megamenu::megamenu"/>
        <add id="Solwin_Megamenu::configration" title="Configuration" module="Solwin_Megamenu" sortOrder="10" parent="Solwin_Megamenu::megamenu" action="adminhtml/system_config/edit/section/megamenu" resource="Solwin_Megamenu::configration"/>-->
    </menu>
</config>